/* Base styling for most HTML components */
nav {background-color:#000; width:7%; color:gainsboro}
h1 {text-align:center; color:gainsboro}
h2 {color:gainsboro}
p {color:gainsboro}
aside {background-color:#000; color:gainsboro}
footer {position:fixed; bottom:10px; left:0}
/* |body| gets a nice, separate style block. */
body {
    height:100%;
    background-color:#000;
    background-image:url("media/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:gainsboro;
	margin:auto;
	margin-top:10%;
}
/* Image fitment fix found in StackOverflow */
img{
    max-width: 100%;
    max-height: 100%;
}
/* Home page - Make the buttons look cool.*/
.home-buttons button{
    background-color: #000;
    border: 1px solid white;
    color: gainsboro;
    cursor: pointer;
    width: 35%;
    height: 55px;
    display: block;  /* Make those buttons appear below each other */
    margin: auto;    /* I heard about this on StackOverflow. It is beautiful. */
    position:relative;
    top:75%;
}